<mat-sidenav-container>
  <mat-sidenav #drawer mode="push">
    Toolbar<br/>
    <app-hex-details></app-hex-details>
  </mat-sidenav>
  <mat-sidenav-content>
    Main area<br/>
    <mat-slider min="1" max="40" value="3" #col_input thumbLabel></mat-slider> 
    <button (click)="main_area.updateColumns(col_input.value)">Set columns</button>
    <mat-slider min="1" max="40" value="3" #row_input thumbLabel></mat-slider> 
    <button (click)="main_area.updateRows(row_input.value)">Set rows</button>
    <app-hex-area #main_area></app-hex-area>
    <button (click)="drawer.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>